.event_table {
	margin-left:auto;
	margin-right:auto;
}

.event_view {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
      
	border: solid 2px;
	border-color: #e0f005 #636300 #636300 #e0f005; 
    background-color:#e0f005;
    
    
    
}
.event_text {
	min-width = 600px;
}

.background {
	background-color:black;
}

.help_about {
	  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin:20px;
    border: solid 2px;
	border-color: #e0f005 #636300 #636300 #e0f005; 
    background-color:#e0f005;
    color:black;
    
	position:absolute;
	bottom:0px;
	right:0px;
}
