/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.event_table {
	margin-left:auto;
	margin-right:auto;
}

.box_view {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
      
	border: solid 2px;
	border-color: #e0f005 #636300 #303000 #e0f005; 
    background-color:#e0f005;
    
    min-width:390px;
    
    
    
    
}
.event_text {
	min-width : 600px;
}



.background {
	background-color:black;
}

.help_about_mini {
	  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin:20px;
    border: solid 2px;
	border-color: #e0f005 #636300 #636300 #e0f005; 
    background-color:#e0f005;
    color:black;
    
	position:fixed;
	bottom: 0%;
  	right: 0%;
}
.help_about_big {
	margin:20px;
    border: solid 2px;
	//border-color: #e0f005 #636300 #636300 #e0f005; 
    background-color:white;
    color:black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
  	height:460px;
  	width:300px
  	z-index:2
}
.help_about_close{
	color:black;
    position:absolute;
	left:0px;
	top:0px;

  	height:48px;
  	width:48px
}
